<div class="container">
  <div class="row">
    <div class="col">
      <h1>Listado de personas</h1>
      <button
        type="button"
        class="btn btn-primary"
        [disabled]="deshabilitar"
        (click)="agregarPersona()"
      >
        Agregar Persona
      </button>
      <p *ngIf="mostrar">{{ mensaje }} con el titulo de  {{ titulo}}</p>

      <app-persona></app-persona>
      <label for="">Event Binding Dos</label>
      <input
        type="text"
        class="form-control"
        (input)="modificarTitulo($event)"
      />
      {{ titulo }}
      <br>
      <label for="">Two way Binding </label>
      <input type="text" class="form-control" [(ngModel)]="titulodos" />
      {{ titulodos }}
    </div>
  </div>
</div>
