<div class="container">
  <div class="col">
    <h1>Listado de Personas</h1>
    <hr />
    <form class="form-inline">
      <div class="row">
        <div class="col-md-3">
          <div class="form-group mb-2">
            <label for="nombre" class="sr-only">Nombre</label>
            <input
              type="text"
              class="form-control"
              id="nombre"
              name="nombre"
              placeholder="nombre"
              [(ngModel)]="nombreInput"
            />
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group mx-sm-3 mb-2">
            <label for="apellido" class="sr-only">Apellido</label>
            <input
              type="text"
              class="form-control"
              id="apellido"
              name="apellido"
              placeholder="apellido"
              [(ngModel)]="apellidoInput"
            />
          </div>
        </div>
        <div class="col-md-3">
          <button
            type="submit"
            class="btn btn-primary mt-4"
            (click)="agregarPersona()"
          >
            Agregar Persona
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<app-lista-persona
  *ngFor="let personaElemento of personas; let i = index"
  [persona]="personaElemento"
  [indice]="i"
>
</app-lista-persona>
