<form class="form-inline">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group mb-2">
        <label for="nombre" class="sr-only">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="nombre"
          name="nombre"
          placeholder="nombre"
          #nombreInput
        />
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group mx-sm-3 mb-2">
        <label for="apellido" class="sr-only">Apellido</label>
        <input
          type="text"
          class="form-control"
          id="apellido"
          name="apellido"
          placeholder="apellido"
          #apellidoInput
        />
      </div>
    </div>
    <div class="col-md-3">
      <button
        type="submit"
        class="btn btn-primary mt-4"
        (click)="agregarPersona(nombreInput, apellidoInput)"
      >
        Agregar Persona
      </button>
    </div>
  </div>
</form>